.banner {
  padding: 24px 0 56px;

  &_bottom {
    padding: 41px 0 41px;
    @media (max-width: $mobile) {
      padding: 30px 0;
    }
  }

  &__container {
    @media (max-width: $mobile) {
      padding: 0;
    }
  }

  &__slider {
    &.swiper {
      padding: 40px;
      margin: -40px;

      .swiper-slide {
        height: 100%;
      }
    }
  }

  &__image-ibg {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.25);
    padding-bottom: percent(400, 1110);
    @media (max-width: $mobile) {
      padding-bottom: percent(358, 577);
      border-radius: 0px;
    }
  }

  &__pagination {
    position: absolute;
    bottom: 56px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 2;

    .swiper-pagination-bullet {
      background: var(--white);
      opacity: 0.5;
      width: 10px;
      cursor: pointer;
      height: 10px;
      border-radius: 50%;
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }

  &__arrows {
    padding: 0 24px;
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
    @media (max-width: $mobile) {
      padding: 0 64px;
    }
    @media (max-width: $mobileSmall) {
      padding: 0 44px;
    }
  }

  &__arrow {
    background: var(--white);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (max-width: $mobileSmall) {
      width: 34px;
      height: 34px;
    }
    @media (hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }

    &_prev {
    }

    &_next {
      img {
        transform: rotate(180deg);
      }
    }
  }
}
