.category {
  padding-bottom: 50px;
  @media (max-width: $mobile) {
    padding-bottom: 65px;
  }

  &__container {
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 20px;
    }
    @media (max-width: $mobile) {
      align-items: flex-start;
      gap: 4px;
    }

    .link {
      @media (max-width: $tablet) {
        align-self: flex-end;
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: $tablet) {
        margin-bottom: 25px;
      }
    }
  }

  &__title {
  }

  &__grid-layout {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    @media (max-width: $tablet) {
      gap: 45px;
    }
    @media (max-width: $mobile) {
      gap: 10px;
    }
  }
}


.category-card {
  border-radius: 8px;
  border: 2px solid var(--grey);
  padding: 8px;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  @media (hover: hover) {
    &:hover {
      box-shadow: 0px 0px 15px 0px var(--grey);
    }
  }

  &__image-ibg {
    border-radius: 8px;
    opacity: 0.8999999761581421;
    overflow: hidden;
    margin: 8px;
    height: 223px;
  }

  &__title {
    text-align: center;
    line-height: 28px;
    padding-top: 8px;
  }
}