
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  --primary: #242424; // Site main color - (Основний колір сайту)
  --darkblue: #323657; // Site secondary color - (Додатковий колір сайту)
  --grey: #BACCE5; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
  --blue: #0069F4; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)
  --white: #FAFCFF;
  --hover-bg: rgba(186, 204, 229, 0.7);
  --fontInter: 'Inter';
  --fontMontserrat: 'Montserrat';
  --fontPoppins: 'Poppins';
}
