//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 16px;
  font-weight: 500;
  min-height: 48px;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

  @media (any-hover: hover) {
    &:hover {
    }
  }

  &_green {
    color: var(--white);
    background: #159300;
    @media (hover: hover) {
      &:hover {
        background: #0e5e01;
      }
    }
  }

  &_remove {
    border-radius: 6px;
    background: #FDD;
    @media (hover: hover) {
      &:hover {
        background: #fac9c9;
      }
    }
  }

  &_violet {
    height: 64px;
    background: #8098F9;
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    @media (hover: hover) {
      &:hover {
        background: #6f8af8;
      }
    }
  }

  &._fw {
    width: 100%;
  }

}

.button-icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  background: var(--grey);
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  @media (hover: hover) {
    &:hover {
      background: var(--hover-bg);
    }
  }
}