.checkbox {
  position: relative;

  &_table {
    .checkbox__label {
      &::before {
        border-radius: 5px;
        background: rgba(50, 54, 87, 0.05);
        width: 24px;
        height: 24px;
        border: none;
        flex: 0 0 24px;
      }
    }
  }

  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:focus-visible + .checkbox__label:before {
      box-shadow: 0 0 0px 1px #8098F9;
    }

    &:checked + .checkbox__label:before {
      background: url('@img/input-icons/check.svg') center /80% 80% no-repeat, #8098F9;
    }
  }

  // .checkbox__label
  &__label {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    gap: 10px;

    &:before {
      content: "";
      align-self: flex-start;
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      border: 2px solid #8098F9;
      border-radius: 4px;
    }
  }

  // .checkbox__text
  &__text {
    align-self: center;
    color: #71717A;
    font-family: var(--fontMontserrat);
    line-height: 24px; /* 150% */
  }
}
