.checkbox {
  position: relative;

  &_admin {
    .checkbox__label {
      gap: 30px;

      &::before {
        display: none;
      }
    }

    .checkbox__circle {
      height: 40px;
      width: 90px;
      flex-shrink: 0;
      position: relative;
      box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.10) inset;
      background: rgba(50, 54, 87, 0.05);
      border-radius: 25px;

      &::after {
        content: '';
        filter: drop-shadow(-2px 1px 6px rgba(0, 0, 0, 0.25));
        width: 31px;
        height: 31px;
        border-radius: 50%;
        position: absolute;
        left: 5px;
        top: 4px;
        transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
        background: url('@img/icons/switch.svg') center/ 100% 100% no-repeat;
      }
    }

    .checkbox__input:checked + .checkbox__label {
      .checkbox__circle {
        background: #76EE59;

        &::after {
          transform: translateX(50px);

        }
      }
    }

    .checkbox__text {
      font-weight: 500;
      line-height: 110.8%;
      padding: 8px;
      color: var(--primary);
      border-bottom: 1px solid var(--grey);


    }
  }

  &_table {
    .checkbox__label {
      &::before {
        border-radius: 5px;
        background: rgba(50, 54, 87, 0.05);
        width: 24px;
        height: 24px;
        border: none;
        flex: 0 0 24px;
      }
    }
  }

  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:focus-visible + .checkbox__label:before {
      box-shadow: 0 0 0px 1px #8098F9;
    }

    &:checked + .checkbox__label:before {
      background: url('@img/input-icons/check.svg') center /80% 80% no-repeat, #8098F9;
    }
  }

  // .checkbox__label
  &__label {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    gap: 10px;

    &:before {
      content: "";
      align-self: flex-start;
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      border: 2px solid #8098F9;
      border-radius: 4px;
    }
  }

  // .checkbox__text
  &__text {
    align-self: center;
    color: #71717A;
    font-family: var(--fontMontserrat);
    line-height: 24px; /* 150% */
  }
}
