//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  border-radius: 10px;
  padding: 0 16px;
  height: 64px;
  color: #000;
  font-size: 18px;
  border: 2px solid rgba(128, 152, 249, 0.50);
  background: rgba(128, 152, 249, 0.10);
  outline: none;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

  &::placeholder {
    color: rgba(45, 49, 166, 0.20);
  }

  &._form-focus {
    box-shadow: 0px 0px 0px 1px rgba(128, 152, 249, 0.50);
  }

  &._form-error {
  }

  &_admin {
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid var(--grey);
    background: rgba(50, 54, 87, 0.05);
    height: 40px;
    font-size: 16px;
  }
}

.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  height: 193px;
  padding: 16px;
  @media (max-width: $mobile) {
    height: 220px;
  }

  &_admin {
    height: 117px;
  }
}

.input-item {
  position: relative;

  &__title {
    color: #000;
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
    @media (max-width: $tablet) {
      font-size: 18px;
    }
    @media (max-width: $mobile) {
      font-size: 16px;
    }

    span {
      color: rgba(0, 0, 0, 0.33);
    }
  }

  &_icon {
    .input {
      padding-left: 50px;
    }
  }

  &_password {
    .input {
      padding-right: 70px;
    }
  }

  &__icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__password-btn {
    position: absolute;
    right: 37px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url('@img/input-icons/eye-slash.svg') center /100% 100% no-repeat;
    cursor: pointer;

    &._viewpass-active {
      background: url('@img/input-icons/eye.svg') center /100% 100% no-repeat;
    }
  }
}