// <SELECT>
// Сніппет (HTML): sel
.select {
  min-width: 0;
  position: relative;
  // .select__body
  &__body {
    position: relative;
  }

  // .select__title
  &__title {
    text-align: left;
    border-radius: 10px;
    border: 2px solid rgba(128, 152, 249, 0.50);
    background: rgba(128, 152, 249, 0.10);
    height: 64px;
    cursor: pointer;
    width: 100%;
    padding: 5px 16px;
    color: #000;
    font-size: 24px;
    line-height: 24px;
    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  // .select__value
  &__value {
    display: flex;
    min-width: 0;
    align-items: center;
    gap: rem(10);

    > * {
      flex: 1 1 auto;
    }

    &:after {
      content: "";
      align-self: stretch;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      transition: all 0.3s ease 0s;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('@img/input-icons/arrow-select.svg') center /100% 100% no-repeat;
      @media (max-width: $mobileSmall) {
        width: 24px;
        height: 24px;
        flex: 0 0 24px;
      }

      ._select-open & {
        transform: rotate(-180deg);
      }
    }

    &._select-pseudo-label {
      &::before {
        content: attr(data-pseudo-label);
        opacity: 0.5;
      }
    }
  }

  // .select__content
  &__content {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // .select__text
  &__text {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }

  // .select__options
  &__options {
    color: #000;
    position: absolute;
    top: calc(100%);
    border-radius: 10px;
    border: 2px solid rgba(128, 152, 249, 0.50);
    background: #EEF2FF;
    min-width: 100%;
    left: 0;
    border-top: 0;
  }

  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальна висота
    max-height: rem(200);
    // Стилі скроллбару
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }

  // .select__option
  &__option {
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 10px 18px;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    @media (max-width: $mobile) {
      font-size: 18px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #B0BEEA;
    }

    &._select-selected {
      background-color: #eee;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--blue);
      }
    }
  }

  // Конструкція додаткових даних
  &__row {
    display: inline-flex;
    align-items: center;
  }

  &__asset {
  }

  &__text {
  }

  &_show-top {
    .select__options {
      top: auto;
      bottom: calc(100%);
    }
  }

  // Стан селекту
  &._select-open {
  }

  &._select-disabled {
  }

  &._select-active {
  }

  &._select-focus {
  }

  &._select-multiple {
  }

  &._select-checkbox {
  }
}

// Тег
._select-tag {
  cursor: pointer;
}
