.header {
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
  background: var(--white);
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

  &__scroll-top {
    position: fixed;
    right: 32px;
    bottom: 32px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    @media (max-width: $tablet) {
      right: 16px;
      bottom: 16px;
    }

    ._header-scroll & {
      opacity: 1;
      visibility: visible;
      pointer-events: all
    }
  }

  &._header-scroll {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  }

  &__top {
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 36, 36, 0.45);
    z-index: 4;
    transition: all 0.2s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    .open-catalog & {
      @media (max-width: $tablet) {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    .menu-open & {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  --header-gap: 24px;
  @media (max-width: $mobile) {
    --header-gap: 10px;
  }

  &__main {
  }
}

.top-header {
  background: var(--darkblue);
  color: var(--white);
  overflow: hidden;
  position: relative;
  transition: all 0.2s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  max-height: 200px;
  @media (max-width: $mobileSmall) {
    font-size: 14px;
  }

  &.close {
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    height: 0;
  }

  ._header-scroll & {
    max-height: 0px;
    opacity: 0;
    transform: translateY(-100%);
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    @media (max-width: $mobile) {
      right: 10px;
      top: 10px;
    }

  }

  &__container {
  }


  &__title {
    font-weight: 600;
    line-height: 110.8%;
    text-align: center;
    padding: 6px 0px;

  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    position: relative;
  }

  &__image {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
    margin-bottom: -20px;
    @media (max-width: $mobileSmall) {
      width: 30px;
      height: 30px;
      margin-bottom: -10px;
    }
  }

  &__text {
    font-weight: 600;
    line-height: 110.8%;
    padding: 15px 0;
    text-align: center;


    span {
      color: var(--blue);
    }
  }
}

.main-header {
  padding: var(--header-gap) 0px;
  background: var(--white);
  position: relative;

  &__container {
  }

  &__catalog-button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 4px 8px 4px 4px;
    border-radius: 8px;
    background: var(--grey);
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (max-width: $tablet) {
      width: 48px;
      flex-shrink: 0;
      justify-content: center;
      span {
        display: none;
      }
    }
    @media (max-width: 370px) {
      display: none;
    }
    @media (hover: hover) {
      &:hover {
        background: var(--hover-bg);
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: var(--header-gap);
  }

  &__left {
    display: flex;
    align-items: center;
    gap: var(--header-gap);
    flex-shrink: 0;
  }

  &__menu {
    flex-shrink: 0;
  }

  &__logo {
    @media (max-width: $tablet) {
      width: 50px;
      flex-shrink: 0;
    }
  }

  &__phone {
  }

  &__right {
    display: flex;
    align-items: center;
    gap: var(--header-gap);
    flex: 1 1 auto;
    @media (max-width: $mobile) {
      justify-content: flex-end;
    }
  }

  &__search {
  }

  &__button {

  }
}

.phone-header {
  position: relative;

  &__wrap {
    position: absolute;
    top: calc(100% + 10px);
    left: -96px;
    border-radius: 8px;
    background: var(--white, #FAFCFF);
    box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.25);
    width: 304px;
    padding: 16px;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;

    ._active-phone & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }

  &__list {
    display: grid;
    gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
  }

  &__operator {
    width: 28px;
    flex-shrink: 0;
  }

  &__link {
    line-height: 28px;
    -o-transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (hover: hover) {
      &:hover {
        color: var(--blue);
      }
    }
  }

  &__button {
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      width: 28px;
      height: 28px;
      display: inline-block;
    }
  }
}

.search-header {
  flex: 1 1 auto;
  @media (max-width: $mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    border-radius: 0px 0px 19px 19px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 24px 16px;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    transform: translateY(-100%);
    .open-search & {
      transform: translateY(0);
    }
  }

  &__item {
    border-radius: 8px;
    background: rgba(50, 54, 87, 0.05);
    position: relative;
    display: flex;
    flex: 1 1 auto;
  }

  &__close {
    @media (min-width: $mobile) {
      display: none;
    }
  }

  &__form {
    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    @media (max-width: $mobileSmall) {
      gap: 10px;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 24px;
    height: 24px;
  }

  &__input {
    height: 48px;
    outline: none;
    padding: 0 20px 0 47px;
    border-radius: 8px 0px 0 8px;
    border: none;
    background: rgba(50, 54, 87, 0.05);
    @media (max-width: $mobile) {
    }

    &::placeholder {
      color: rgba(50, 54, 87, 0.5)
    }
  }

  &__button {
    min-width: 121px;
    flex-shrink: 0;
    border-radius: 0px 8px 8px 0px;
    border-left: 1px solid var(--blue);
    background: var(--grey);
    font-weight: 500;
    line-height: 110.8%;
    padding: 5px 16px;
    color: var(--blue);
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (max-width: $mobileSmall) {
      min-width: 70px;
    }
    @media (hover: hover) {
      &:hover {
        background: var(--hover-bg);
      }
    }
  }
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  border-radius: 0px 8px 8px 0px;
  background: var(--white);
  box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.25);
  padding: 40px 16px 200px;
  overflow: auto;
  width: 295px;
  transform: translateX(-100%);
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  z-index: 5;

  .menu-open & {
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;

  }

  &__logo {
    display: block;
    text-align: center;

    img {
      max-width: 121px
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__info {
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 110.8%;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__main-list {
    display: grid;
    gap: 16px;

    li {
      border-bottom: 1px solid var(--grey);

      a {
        font-weight: 500;
        line-height: 110.8%;
        display: flex;
        align-items: center;
        position: relative;
        gap: 16px;
        padding: 8px 0;
        transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
        @media (hover: hover) {
          &:hover {
            color: var(--blue);
          }
        }
      }
    }
  }

  &__icon {
  }

  &__count-product {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 300px;
    background: var(--blue);
    color: var(--white);
    font-weight: 500;
    line-height: 110.8%;
    padding: 8px;
    min-width: 30px;
  }

  &__lang {
    margin-top: 10px;
    padding: 8px 0;
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
    gap: 32px;

    ul {
      display: flex;
      align-items: center;

      li {
        &:not(:last-child) {
          border-right: 1px solid var(--blue);
        }
      }

      a {
        padding: 0 9px;
        line-height: 28px;
        transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

        &.active {
          color: var(--blue);
          pointer-events: none;
          font-weight: 700;
        }

        @media (hover: hover) {
          &:hover {
            color: var(--blue);
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 68px;
    }
  }

  &__lang-title {
    font-weight: 500;
    line-height: 110.8%;
    opacity: 0.5;
  }

  &__list {
    font-size: 14px;
    font-weight: 400;
    line-height: 110.8%;
    display: grid;
    gap: 16px;

    a {
      color: var(--darkblue);
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
      @media (hover: hover) {
        &:hover {
          color: var(--blue);
        }
      }
    }
  }
}

.header-catalog {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-width: 1140px;
  margin: 0 auto;
  @media (max-width: $tablet) {
    position: fixed;
    padding: 26px 40px;
    z-index: 5;
    top: 0;
    height: 100%;
    overflow: auto;
    @media (max-width: $mobile) {
      padding: 26px 16px;
    }
  }

  .header-catalog__body {
    @media (max-width: $tablet) {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  &.open-category {

    .catalog-mob {
      display: none;
    }
  }

  .open-catalog & {
    opacity: 1;
    visibility: visible;
    pointer-events: all
  }

  &__big-title {
    color: var(--darkblue);
    font-size: 24px;
    font-weight: 700;
    line-height: 124.3%;
    letter-spacing: 8px;
  }

  &__wrap {
    border-radius: 0px 0px 8px 8px;
    background: var(--white);
    overflow: hidden;
    @media (max-width: $tablet) {
      border-radius: 25px;
      padding: 26px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (min-width: $tablet) {
      display: none;
    }
  }


  &__tabs {
    padding: 10px 77px 0px 24px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: space-between;
    @media (max-width: $tablet) {
      flex-direction: column;
      padding: 0 30px;
    }
    @media (max-width: $mobile) {
      padding: 0px;
    }

  }

  &__titles {
    display: grid;
    gap: 24px;
    width: 100%;
    padding: 38px 10px 0px 0;
    max-width: 278px;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__title {
    text-align: left;
    color: var(--darkblue);
    font-weight: 600;
    line-height: 110.8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

    &._tab-active {
      color: var(--blue);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--blue);
      }
    }

    svg {
      width: 18px;
      height: 18px;
      stroke: currentColor;

    }
  }

  &__content {
    flex: 1 1 auto;
    max-width: 652px;
    @media (max-width: $tablet) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 7px 0;
    color: var(--darkblue);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.3%;
    letter-spacing: 8px;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    margin-left: -40px;
    @media (max-width: $mobile) {
      margin-left: -20px;
    }
    @media (max-width: $mobile) {
      font-size: 18px;
    }

    &::after {
      content: '';
      background: rgba(50, 54, 87, 0.05);
      position: absolute;
      left: -100px;
      width: 200%;
      top: 0;
      height: 100%;
    }

    & > * {
      position: relative;
      z-index: 2;
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__body {
  }

  &__grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 28px 17px;
    max-height: 477px;
    overflow: auto;
    padding-bottom: 30px;
    @extend %hidescroll;
    @media (max-width: 1512px) {
      max-height: 407px;
    }
    @media (max-width: $tablet) {
      max-height: none;
    }

    .category-card__title {
      font-size: 14px;
      line-height: 110.8%;
    }

    .category-card__image-ibg {
      height: 175px;
      margin-top: 0;
    }
  }
}

.catalog-mob {
  width: 100%;
  @media (min-width: $tablet) {
    display: none;
  }

  &__nav {
    display: grid;
    gap: 30px 17px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
